    body{
    font-size: 1em;
    background-color:steelblue;
     font-style: italic;
}
#apresentação{
    background-color: rgb(120, 216, 219);
    text-align: center;
    padding: 10px;
}
#menu, a{
    text-decoration: none;
    color:white;
    margin-left: 10px;
  }
#menu, a:hover{
    background-color: lightskyblue;
    color: black;
}
.pag{
    margin-left: 90px;
    font-style: italic;
    width: 90%;

}
.img1{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    width:20%;
   
   
}
.img2{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    width: 20%;
    
}
.img3{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    width: 20%;
   
}
.img4{
    margin-left: 70px ;
    float: left;
    margin-top: 80px; 
   
    width: 20%;
}
.img5{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    
    width: 20%;
}
.img6{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
  
    width: 20%;
 
}
.img7{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    
    width: 20%;
}
.img8{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    
    width: 20%;
}
.img9{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    
    width: 20%;
}
.img10{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
   
    width: 20%;
}
.img11{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
   
    width: 20%;
} 
.img12{
    margin-left: 70px ;
    float: left;
    margin-top: 80px;
    
    width: 20%;
}

.clear{
    clear:left;
}
#cont-lateral{
    float: right;
    width: 240px;
    margin-top:-980px;
    text-decoration: none;
  }
  .lateral{
    padding: 8px 12px;
  }
  footer{
    text-align: end;
  }
